:root {
    --navbar-height: rem(60);
}

body {
    transition: background-color 100ms ease-in !important;
    scroll-behavior: smooth;
    padding-top: var(--navbar-height);
}

body::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    height: 1px;
    border-radius: 9999px;
    background-color: var(--mantine-color-yellow-7);
    width: var(--content-progress);
    transition: width 1000ms cubic-bezier(0.215, 0.610, 0.355, 1);
}