.hero {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column-reverse;
    }
}

.hero > div {
    flex: 1;
}

.img {
    -webkit-mask-image: linear-gradient(var(--mantine-color-dark-9) 70%, transparent);
    mask-image: linear-gradient(var(--mantine-color-dark-9), transparent);
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    min-width: min(rem(300), 100%);

    @mixin light {
        -webkit-mask-image: linear-gradient(var(--mantine-color-dark-0) 70%, transparent);
        mask-image: linear-gradient(var(--mantine-color-dark-0), transparent);
    }
}
